.footer {
    background-color: var(--color-primary);
    padding: 1em;
}

.footer__title {
    color: var(--color-black);
}

.footer__list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 3em;
    }

    .footer__title {
        font-size: 1.5rem;
    }

    .footer__list {
        display: block;
    }

    .list__title-footer {
        font-size: 0.875rem;
        color: var(--color-footer-secondary);
        padding-bottom: 1.25em;
    }

    .list__item-footer {
        display: flex;
        gap: 0.5em;
        align-items: center;
        padding: 0.5em 0;
    }

    .footer__link {
        text-decoration: none;
        color: var(--color-footer-primary);
    }
}