.header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    position: relative;
    padding: 0.625em;
}

.container {
    display: flex;
    align-items: center;
}

.header__menu-expandable {
    width: 3em;
    height: 3em;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    display: inline-block;
}

.container__imagem {
    padding: 0.2em;
}

.list-menu {
    background-color: var(--color-primary);
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.list-menu__titulo,
.lista-menu__item {
    padding: 0.625em;
}

.list-menu__titulo {
    font-weight: var(--font-bold);
    font-size: 1rem;
    color: var(--color-secondary);
    padding-bottom: 0.5em;
}

.lista-menu__item {
    padding-bottom: 1em;
}

.list-menu__link {
    text-decoration: none;
    font-size: 1rem;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__menu {
    display: none;
}

.container__menu:checked ~ .list-menu {
    display: flex;
    flex-direction: column;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

.options__button {
    display: none;
}

@media screen and (min-width: 1024px) {

    .header {
        justify-content: space-around;
    }

    .header__menu-expandable {
        display: none;
    }

    .container__title {
        display: block;
        font-family: var(--font-secondary);
        font-weight: var(--font-regular);
        font-size: 1.875rem;
        padding: 0 0.3em;
    }

    .container__title-bold {
        font-weight: var(--font-bold);
        color: var(--color-black);
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .options__link {
        text-decoration: none;
        color: var(--color-black);
    }

    .container__imagem-transparent {
        display: none;
    }

    .options__button:checked ~ .list-menu{
        display: block;
        width: auto;
    }
}