.topics {
     background: var(--color-gradient);
     padding: 1.5em 0.5em;
}

.topics__title {
    color: var(--color-primary);
    font-weight: var(--font-light);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list__item {
    margin: 1.5em 0.5em;
}

.item__link {
    font-size: 0.875rem;
    font-weight: var(--font-bold);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-decoration: none;
    padding: 1em 1.5em;
}

@media screen and (min-width:1024px) {
    .topics__title {
        font-size: 1.5rem;
    }

    .list__item {
        margin: 2.5em 0.5em;
    }

    .item__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .topics {
        padding: 6em 0.5em;
    }

    .topics__title {
        font-size: 2rem;
    }

    .topics__list {
        margin: 0 25em;
    }
}